 <br>
<br>
<br>
<br>


        <form   name ="applicantData"  [formGroup]="applicantData" (ngSubmit)="onSubmit()" >

    <div  class="row">

        <div  class=" col-md-4 ">
            <input 
            class="single-field"
            type="text" 
            placeholder="Full Name"
             formControlName ="name"
             
            >
            <small  *ngIf="applicantData.get('name').hasError('required') && applicantData.get('name').touched " id="passwordHelp" class="text-danger">
                Name is required
              </small> 

        </div>


        <div class=" col-md-4  ">
            <input
             type="email" 
             class="single-field" 
              placeholder ="Email"
             formControlName ="email"
             pattern = "^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              >
              
                <small *ngIf="applicantData.get('email').hasError('required') && applicantData.get('email').touched" class="text-danger">
                    Email is required
                  </small>

              <small *ngIf="applicantData.get('email').hasError('pattern') && applicantData.get('email').touched "  class="text-danger">
                  Please Enter Valid Email Address
             </small> 

             
               <!-- <div  *ngIf="" >
                <small  class="text-danger">
                      
                </small> -->
            </div>

            <div class="col md-4">

            </div>


         
                
                <div class="col-md-4">
                    <select 
                    
                    formControlName="Language1"
                     class="nice-select" name="sortby"
                      >
                      <option value="">Choose your Langauge</option>
                      <option  name="Language"*ngFor = "let language  of languages; index as i " [value]="language" value="trending">{{language}}</option>
                    </select>
                </div> 
    
                <div class=" col-md-4">
                    <select 
                    formControlName="Level1"
                     class="nice-select" name="sortby"
                      >
                      <option value="">Choose your Level</option>
                      <option name="level"*ngFor = "let level  of levels; index as i " [value]="level" value="trending">{{level}}</option>
                    </select>
                </div> 
            
           

            <div class="col-md-4">
                <button class="btn btn-info" (click)="add()">Choose another language</button>
            </div>

            <div *ngIf="flag" class="col-md-12 " >

                <div >
                    <select 
                    formControlName="Language2"
                     class="nice-select" name="sortby"
                      >
                      <option value="">Choose your Langauge</option>
                      <option name="Language"*ngFor = "let language  of languages; index as i " [value]="language" value="trending">{{language}}</option>
                    </select>
                </div> 
        
                <div>
                    <select 
                    formControlName="Level2"
                     class="nice-select" name="sortby"
                      >
                      <option value="">Choose your Level</option>
                      <option name="level" *ngFor = "let level  of levels; index as i " [value]="level" value="trending">{{level}}</option>
                    </select>
                </div> 
                
        
            </div>
           
  
        <div class="col-6 ">
            <button type="submit"class="submit-btn">Save</button>
        </div>
          

        </div>
       
</form> 


